@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../resources/scss/fonts/ProximaNova-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../resources/scss/fonts/ProximaNova-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../resources/scss/fonts/ProximaNova-Xbold.woff2) format('woff2');
}

